<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-list>
    <ion-item *ngFor="let list of todos" routerLink="/list/{{list.uuid}}">
      <ion-item *ngFor="let list of todos" (click)="openList(list.uuid)">
      <ion-avatar slot="start">
        <img src="/docs/assets/img/avatar-finn.png"></img>
      </ion-avatar
      <ion-label>
        <h2>{{list.name}}</h2>
        <p>Still to do: {{ itemsLeft(list) }}</p>
      </ion-label>
    </ion-item>
  </ion-list> -->


  <ion-list>

      <ion-item-sliding *ngFor="let list of todos" #slidingItem>
        <ion-item (click)="openList(list.uuid)">
            <ion-label>
                <h2>{{list.name}}</h2>
                <p>Reste à faire : {{ itemsLeft(list) }}</p>
              </ion-label>
        </ion-item>

        <ion-item-options>
          <button danger (click)="removeList(slidingItem, list)"> Supprimer</button>
          <button danger (click)="editList(slidingItem, list)"> Modifier</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)=addList()>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>




</ion-content>
