<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Retour"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item-sliding *ngFor="let item of todos" #slidingItem>
      <ion-item>
        <ion-label>
          <h2>{{ item.name }}</h2>
          <input [(ngModel)]="item.complete" type="checkbox"/>
          <p>{{ item.desc}}</p>
        </ion-label>
      </ion-item>

      <ion-item-options>
        <button danger (click)="removeItem(slidingItem, item)"> Supprimer</button>
        <!-- <button danger (click)="removeItem(item)"><icon trash></icon> Delete</button> -->
        <button danger (click)="editItem(slidingItem, item)"> Modifier</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)=addItem()>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
