#content {
    height: 100%;
    width: 100%;
}

button {
    border-style: solid;
    border-width: 2px;
    padding : 15px 15px 15px 15px;
    margin-right: 2px; 
}

#color1{
    background-color: #2ecc71;}
#color2{
    background-color: #3498db;}
#color3{
    background-color: #9b59b6;}
#color4{
    background-color: #e74c3c;}
#color5{
    background-color: #e67e22;}
#color6{
    background-color: #f1c40f;}
#color7{
    background-color: #ffffff;}